{% extends 'base.html' %}


{% block content %}
    {% if user.is_authenticated %} <!-- (1) if -->
        <h2>Status: Logged In</h2>
        <h3>Change Your Password</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
        
        <p>
            Return to <a href="{% url 'profile' user.username %}"><b>Profile</b></a> <br>
            <a href="{% url 'logout' %}"><b>Logout</b></a>
        </p>
    {% else %} <!-- (1) else -->
        <h1>OW!! You are not Logged In</h1> <br>
        <p>
            To change password <a href="{% url 'login' %}"><b>Login</b></a> <br>
            If you don't have an account, <a href="{% url 'register' %}"><b>Register</b></a>
        </p>
        <!-- You can <a href="{% url 'login' %}"><b>Login</b></a> or <a href="{% url 'register' %}"><b>Register</b></a> -->
    {% endif %} <!-- (1) endifif -->
{% endblock %}


