{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        {% if is_same_user %}
            <h1>Edit your profile</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save Changes</button>
            </form>
            
            <p>
                Return to <a href="{% url 'profile' user.username %}"><b>Profile</b></a> <br>
                <a href="{% url 'logout' %}" style="text-decoration:none"><b>Logout</b></a>
            </p>
        {% else %}
            <h1>You are not permitted to Edit other's profile</h1>
            <p>
                Return to <a href="{% url 'profile' user.username %}"><b>Your Profile</b></a>
            </p>
        {% endif %}
    {% else %}
        <h1>OW!! You are not Logged In</h1> <br>
        <p>
            To Edit Profile <a href="{% url 'login' %}" style="text-decoration:none"><b>Login</b></a> <br>
            If you don't have an account, <a href="{% url 'register' %}" style="text-decoration:none"><b>Register Here</b></a>
        </p>
        <!-- You can <a href="{% url 'login' %}"><b>Login</b></a> or <a href="{% url 'register' %}"><b>Register</b></a> -->
    {% endif %}
{% endblock %}

