.header-bg{
  /* background-color: #778899; */
  background-color: #303233;
  border-color: #FFFFFF;
  color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
}



.search-button-bg:hover{
  /* background-color: #778899; */
  background-color: #FFFFFF;
  color: #000000;
}

.search-box{
  background-color: #484848;
  border-color: #292929;
}

.search-box-bg:focus{
  color: #000000;
}


.link-weight{
  opacity: 0.8;
  font-weight: bolder;
}

.link-weight:hover{
  opacity: 1.0;
}






















/*  */
