{% extends 'base.html' %}


{% block content %}
    <h1>Assalamu Alaikum</h1>
        <h2>This is the home page</h2>
            {% if user.is_authenticated %}
                <p>
                    Status: Logged In <br>
                    Thank you for visiting my site. :)
                </p>
                Go to your <a href="{% url 'profile' user.username %}"><b>Profile</b></a>
            {% else %}
                You can <a href="{% url 'login' %}"><b>Login</b></a> or <a href="{% url 'register' %}"><b>Register</b></a>
        {% endif %}
{% endblock %}

